.header {
  display: flex;
  justify-content: space-between;
  padding: var(--very-big-space);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: var(--white);
}

.header__item a {
  color: inherit;
}

.header__logo {
  font-size: var(--medium-font-size);
  font-weight: bold;
}

.header__nav {
  list-style: none;
  padding: none;
}

.header__nav__item {
  text-transform: uppercase;
  display: inline-block;
  margin: 0 30px;
}

.header__nav__item--active:after {
  content: '';
  display: block;
  width: 70%;
  border-bottom: 2px solid var(--yellow);
}
.header__nav__item a {
  text-decoration: none;
  color: inherit;
}
