:root {
  --base-font-family: 'Monteserrat', sans-serif;
  --base-font-size: 16px;
  --medium-font-size: 24px;
  --big-font-size: 32px;
  --very-big-font-size: 40px;
  --base-line-height: 1.5;
  --base-border-radius: 16px;

  --small-space: 8px;
  --medium-space: 16px;
  --big-space: 32px;
  --very-big-space: 48px;
}
