:root {
  /*Base values*/
  --base-font-family: 'Monteserrat', sans-serif;
  --base-line-height: 1.5;
  --base-border-radius: 50vh;

  /*Fonts size*/
  --base-font-size: 16px;
  --medium-font-size: 32px;
  --big-font-size: 32px;

  /*Spaces*/
  --small-space: 8px;
  --medium-space: 16px;
  --big-space: 32px;
  --very-big-space: 48px;

  /*Colors*/
  --yellow-light: #ffe21d;
  --yellow: #ffd21d;
  --blue-light: #24afff;
  --blue: #248bff;
  --red-dark: #721c24;
  --red-light: #ffe8e8;
  --green-dark: #155724;
  --green-light: rgb(212, 237, 218);
  --mustard-dark: #856404;
  --mustard-light: rgb(255, 243, 205);
  --black: rgb(31, 31, 31);
  --white: rgb(255, 255, 255);
  --gray: rgb(224, 224, 224);
}
